[2020-08-18 01:29] dwightwatson opened #1 "Compilation error: unexpected token"
After adding this to a Blitz app, before even making any changes to the codebase, I get an instant compilation error

[code]

[2020-08-25 15:53] Skn0tt commented on #1
Well, that seems weird 😕 Could you provide a minimal reproduction case?

[2020-08-25 23:47] dwightwatson commented on #1
https://github.com/dwightwatson/blitz-superjson

Here's a fresh Blitz app - I added the projects scaffold and then changed `app/projects/pages/projects/[projectId].tsx` to render statically, assuming the plugin would automatically pass through the `project`.

(So just install, `blitz db migrate`, create a project through the UI and then visit it).

Let me know if this replicates it for you or if I

[2020-08-26 06:58] Skn0tt commented on #1
Thanks for providing the repro! It seems like something happened to the dist files during publishing. I tried to publish a new version (v0.1.3), but same problem:

We expect `dist/tools.js` to be published like this:

[code]

But instead this is what reaches the registry:

[code]

Interestingly, when inspecting the package to be published using `yarn pack`, everything seems fine.

Maybe it‘s a bug

[2020-08-26 13:47] flybayer commented on #1
Interesting! Btw @Skn0tt you can publish test versions to npm as some random version like `0.1.3-aenof4h` with some other tag like `danger` instead of `latest`. That way you can test npm without affecting releases for anyone else.

[2020-08-26 20:13] arafatamim opened #2 "Latest version (0.1.3) throws SyntaxError"
Version 0.1.3 throws `SyntaxError: Cannot use import statement outside a module` on a fresh Next.js install.
0.1.2 works though.

[2020-08-27 16:03] flybayer commented on #2
@arafatamim thanks for reporting this!

[2020-09-09 16:05] flybayer commented on #1
@Skn0tt any update on this? Would be great to get this fixed as soon as feasible

[2020-09-10 16:55] Skn0tt commented on #1
@dwightwatson can you try out v0.1.4?

[2020-09-10 16:57] Skn0tt commented on #2
Thanks for reporting! We had some build process issues, they have been fixed with v0.1.4.

[2020-09-10 16:57] #2 closed

[2020-09-10 23:20] dwightwatson commented on #1
Yeah, this appears to be working now. Thanks so much!

[2020-09-10 23:20] #1 closed

[2020-09-25 00:22] blakeley opened #4 "Example server crashes"
The Next.js server provided in /example crashes soon after starting.

Steps to reproduce:
1. `git clone https://github.com/blitz-js/babel-plugin-superjson-next`
2. `cd babel-plugin-superjson-next/example`
3. `yarn install`
4. `npm run dev`

Expected behavior:
Server boots up without any errors, and visiting `localhost:3000` displays "props.date is Date: (date)"

Actual behavior:
Server boots, but

[2020-09-25 09:29] Skn0tt commented on #4
Thanks for reporting the issue! I'll look into it.

[2020-09-25 09:34] Skn0tt commented on #4
Could you try it again? I guess something in `yarn.lock` was wrong, I fixed it in aaddf3e206563665aaf210762a30557843b6364d.

[2020-09-25 11:36] blakeley commented on #4
I followed the steps above again with that commit, but I'm still seeing the same error. I also tried `rm yarn.lock & yarn` and then tried booting the server again, but got the same error again.

[2020-09-25 16:40] Skn0tt commented on #4
Couldn't reproduce on a blank VM. Can you provide a reproduction repo?

[2020-09-26 20:46] benjamminj opened #5 "NextJS build fails when simple objects are returned from getStaticProps"
Hi! First off, thanks for this babel transform, I've been using it in an existing NextJS project and it is 🔥

I noticed a bug while integrating this babel transform.

After setting up the plugin in `.babelrc`, here's an example page `/pages/no-meta.tsx`:

[code]

This page would work fine without `superjson` or the babel transform. But after adding the babel transform, `yarn build` results in the

[2020-09-27 14:37] blakeley commented on #4
Sure, here's a reproduction repo: https://github.com/blakeley/babel-plugin-superjson-next

Although note that didn't actually change anything to cause this error, so there's no difference between that repo and origin/master here

[2020-09-27 17:58] Skn0tt commented on #4
Oh wow, I should have thought that through 😅 Obvsly a repro repo doesn’t help. What OS are you on? Node / Yarn / NPM version?

[2020-09-28 00:41] blakeley commented on #4
macOS Catalina - 10.15.6
node -v v12.16.1
yarn -v 1.22.4
npm -v 6.14.8

[2020-09-28 06:18] #5 closed

[2020-10-04 18:32] blakeley opened #12 "Serializable error"
I'm getting the following error on one of my pages:
[code]

Here's my code:
[code]

I've tried multiple variations of setting user to null, but none seem to fix the issue. My guess is that babel-plugin-superjson-next is leaving its `.meta` field as undefined (a rare case, but something that makes sense for a redirect, for instance), and Next.js throws an error on that case.

Changing the last line

[2020-10-06 05:49] Skn0tt commented on #12
This should have been solved with https://github.com/blitz-js/babel-plugin-superjson-next/pull/6. Are you on the latest version?

[2020-10-06 17:21] blakeley commented on #12
Yes, upgrading to 0.1.7 fixed it! Thanks!

[2020-10-06 17:21] #12 closed

[2020-10-09 11:44] alexrohleder opened #15 "Crash when hitting fallback on getStaticPaths"
hey,

when using `getStaticPaths` with `fallback: true` I get this error every time I reach an route that was not returned by this function, in other words whenever the fallback is activated:

`Error: Not a valid SuperJSON payload.`

here is a reproduction repo:

0. https://github.com/alexrohleder/superjson-next-error-repro
1. go to any route other than index

[2020-10-10 08:33] Skn0tt commented on #15
Thanks for letting us know! I‘ll look into it.

[2020-10-10 17:37] #15 closed

[2020-10-10 17:37] Skn0tt commented on #15
@allcontributors add alexrohleder for bugs

[2020-12-05 08:27] marceloverdijk opened #18 "Is InferGetStaticPropsType required to make superjson work with nextjs?"
Hi,

I'm wondering if `InferGetStaticPropsType` is required to make superjson work with nextjs?
The example here https://github.com/blitz-js/babel-plugin-superjson-next/tree/main/example uses that way and that works for me, but changing the page a bit bit fails.

[code]

it prints nicely: `props.date is Date: true`

But when changing it a bit to:

[code]

it only prints: `props.date is Date:`

I c

[2020-12-05 17:59] Skn0tt commented on #18
No, using `InferGetStaticPropsType` shouldn't impact the result whatsoever - especially considering that type information isn't available at runtime.

What you describe is unexpected 🤔 Could you maybe provide a CodeSandbox reproducing the error? That'd allow me to play around with what's happening there.

[2020-12-06 16:33] marceloverdijk commented on #18
Hi @Skn0tt , I created this example https://github.com/marceloverdijk/superjson-example

I've added a `with-props.tsx` page which contains:

[code]

When accessing the page at `http://localhost:3000/with-props` I get:

`props.date is Date:`

instead of the expected:

`props.date is Date: true`

[2020-12-07 09:30] Skn0tt commented on #18
Haha, found the mistake! :D

`<p>props.date is Date: {date instanceof Date}</p>` is not the same as `'props.date is Date: ' + (date instanceof Date)`
The first one uses JSX templating, the second one string concatenation.
JSX templates don't render booleans (that'd break the classic `{ someCondition && (<p>This only shows up sometimes</p>) }` trick).

So this can be fixed by changing the code to t

[2020-12-07 15:58] marceloverdijk commented on #18
Thx, yes that helps a lot! So it is just my lack of experience with React 🙈 .

Initially I was doing `{date}` and that was also giving an issue. As I know now dates are no valid render objects and I have to use `{date.toString()}`

Thx again!

[2020-12-07 15:58] #18 closed

[2020-12-15 18:37] jlmodell opened #19 "Can't seem to get it working"
I'm using superjson ^1.4.1, next 10.0.2, react 17.0.1, @babel/core ^7.12.10

I added the .babelrc file:

[code]

I reloaded my next app that I was trying to fix.

I'm using @prisma/client to query the db inside getServerSideProps where created_at/updated_at are returning Dates.

[code]

It still returned the error re: Error serializing `.date` returned from `getServerSideProps` unfortunately.

I c

[2020-12-16 12:09] Skn0tt commented on #19
That seems about right, weird that it doesn't work for you.
Could you provide a reproduction repository / codesandbox? I'll take a look at it :)

[2020-12-17 20:04] cyrus-za commented on #19
For me its not working either. Also using prisma with next.
But I dont get those errors. After adding the babel plugin, all my pages are getting ther props as `undefined` 😱

[2020-12-17 21:05] flybayer commented on #19
@cyrus-za can you provide a codesandbox or something to reproduce?

[2020-12-25 18:16] IRediTOTO opened #21 "What is the superjson???"
Hi, i tried to find google but there is no definition for superjson word. Can you tell me what is this? Thank you so much

[2020-12-25 21:02] KATT commented on #21
https://github.com/blitz-js/superjson

[2020-12-25 21:42] Skn0tt commented on #21
@allcontributors add KATT for questions

[2020-12-28 14:27] #21 closed

[2020-12-28 19:08] dillonraphael commented on #19
I'm getting the same issue as @cyrus-za.

Seems to be coming from _document & _app `pageProps`

[2020-12-31 03:06] goleary commented on #19
repro for you here: https://github.com/goleary/superjson-repro

- I created a brand new next app using `npx create-next-app`.
- added `getServerSideProps` to `index.ts` which spits out a `Date` object.
- then added  `babel-plugin-superjson-next` & `@babel/core` (which is not mentioned in the docs but pretty obvious that it's needed).
- added `.babelrc`

[code]
- run `yarn dev`

I still get this er

[2020-12-31 07:57] cyrus-za commented on #19
@flybayer I only saw this now. I see @goleary already create a reproduction above. Shout if you need anything else. I've sine uninstalled superjson and manually converted all dates to ISO before sending props down.

[2020-12-31 11:03] Skn0tt commented on #19
Thanks for the repro, I'll take a look in the coming days.

[2020-12-31 16:58] Skn0tt commented on #19
https://github.com/goleary/superjson-repro/commit/d4130b78ebe1c714ee3ca1169d0598aa23d4264c works on my machine. It wasn't a real repro, though: `package-lock.json` was missing, I had to `npm install superjson` and I needed to make this change to see something:

[code]

That could have lead to some difference in our setups. Could you update the repro to be fully self-contained, so we're on the same

[2020-12-31 20:39] goleary commented on #19
@Skn0tt thanks for looking in to it!

Using `npx create-next-app` I get a project with a `yarn.lock` file included.  I installed `babel-plugin-superjson-next` using yarn, not npm.

hmm...both times I've tried to use babel-plugin-superjson-next from a fresh install I get an error about `@babel/core` missing.

I see this in the log while running `yarn dev`:
`info  - Using external babel configuratio

[2021-01-01 10:24] Skn0tt commented on #19
Seems like I've overlooked the `yarn.lock`, sorry 😅

Tried it again, still works on my machine. Since you're on windows, maybe it's a bug with backslashes in path or smth...

I don't have a Windows machine right now, but I'll add some to the CI. Maybe that'll uncover the underlying problem :D

[2021-01-01 10:42] Skn0tt commented on #19
Alright, it seems to be a windows problem: https://github.com/blitz-js/babel-plugin-superjson-next/pull/24/checks?check_run_id=1633311837

Looking into it now :)

[2021-01-01 11:50] Skn0tt commented on #19
@allcontributors add goleary, cyrus-za, jlmodell for bug

[2021-01-01 11:50] Skn0tt commented on #19
@allcontributors add goleary for bug

[2021-01-01 11:51] Skn0tt commented on #19
@allcontributors add cyrus-za for bug

[2021-01-01 11:51] Skn0tt commented on #19
@allcontributors add jlmodell for bug

[2021-01-01 12:00] Skn0tt commented on #19
I've published `0.1.9`, which *should* fix the windows incompatibility issues.

[2021-01-02 18:06] goleary commented on #19
Thanks again for looking into it!

Sadly after upgrading to `0.1.9` I'm still experiencing the same issue.

I went ahead and pushed the change to [my repro](https://github.com/goleary/superjson-repro).

[2021-01-02 18:21] goleary commented on #19
Decided to do some more digging.

I threw some `console.log` statements into this package's index.js:

[code]
and noticed that none of them were getting hit except for  the global (`index.js).

Then I switched the plugin to be the full name of the package in `.babelrc` and managed to get it working:

[code]
I don't know anything about babel plugins, so I'm not sure how the name resolution works bu

[2021-01-02 20:46] Skn0tt commented on #19
Alright, so at least the windows problems are fixed.

I'm not so sure about the name resolution thing, too - but given that [our CI test](https://github.com/blitz-js/babel-plugin-superjson-next/tree/main/example) uses `superjson-next`, I'm kind of suprised.
Could you maybe try out `superjson-next` in a blank project? Maybe it was some caching issue ...

[2021-01-02 23:33] goleary commented on #19
Just tried that out, and indeed with a new project I have no issues. Must've been a caching issue.

On a side note, I still get an error every time I follow the instructions in this readme for a blank Next.js project. `@babel/core` is a devDependency of Next.js which means it won't be installed unless I'm working in the Next repo itself.

I'm sometimes unsure of what truly belongs as a dev vs norm

[2021-01-06 11:41] cyrus-za commented on #19
@Skn0tt My issue was on mac. I have not used superjson yet since the last message, but will see if I can find time to get a repro up.

@goleary devdependencies do get installed alongside the deps. The only difference is when you want to host a node server somewhere you can do `yarn install --production` which will not install any devdependencies (thus saving you some storage). Think of like hostin

[2021-01-07 02:22] samuelgoldenbaum opened #28 "Should I be expecting props to be automatically deserialized?"
Question here.

Should I be expecting props to be automatically deserialized? Given the code below, my props come through as:

[code]

Example Code:
[code]

.baberc:

[code]

[2021-01-07 08:31] Skn0tt commented on #28
Yes, that's how this plugin is supposed to work.

On which version are you? Are you using Windows?

[2021-01-07 19:00] samuelgoldenbaum commented on #28
On Mac, will create a simple test repo and try to see if there is something that may be conflicting

[2021-01-12 15:36] JuanM04 opened #29 "d(...) is not a function"
https://codesandbox.io/s/clever-oskar-ltpop?file=/pages/index.js

[code]

[2021-01-12 17:04] Skn0tt commented on #29
Thanks for reporting this issue. I've created two reproduction test cases in #30, but I can't reproduce them locally. Do you also face these issue locally or is it just in the CodeSandbox? On which operating system are you?

[2021-01-12 18:18] JuanM04 commented on #29
It happened in my PC after updating next and other dependencies. I'm using WSL (ubuntu), but it also failed when I deployed it to Vercel

[2021-01-12 19:04] JuanM04 commented on #29
I downgraded to next v10.0.4 and it works. So, it has something to do with v10.0.5

[2021-01-12 19:10] Skn0tt commented on #29
That's good to know! I'll look into the updates made in 10.0.5 then.

[2021-01-13 21:30] ChGGse commented on #29
Getting the same issue, Tried downgrading to 10.0.4 but no luck. Still getting the same error.

[code]

Is there a fix coming out soon?

[2021-01-13 22:19] Skn0tt commented on #29
We haven't yet found the root cause. I've asked for input on the Next.js contributors Slack, but haven't received  answers yet. Will open an issue next.

I suspect that this issue happens in specific setups only. Could you provide a repro, too?

[2021-01-13 22:33] ChGGse commented on #29
Thanks for the update. I think I'll place the development of my webapp on hold for now until there's a conclusion/fix.

[2021-01-13 23:20] JuanM04 commented on #29
Maybe you downgraded wrong. I have to `yarn remove next && yarn add next@10.0.4` (without the `^`) to downgrade correctly. I downgraded wrong immeasurable times.

[2021-01-13 23:35] ChGGse commented on #29
Alright I rechecked the version and it was stuck on 10.0.5 but I removed then installed next@10.0.4 and it works again. Only issue now is that it isn't showing data on Prisma but that's a separate issue altogether.

[2021-01-14 09:58] Skn0tt commented on #29
This indeed is a regression in Next.js 10.0.5. Bisecting lead me to https://github.com/vercel/next.js/pull/20586 as the root cause. I'm now further investigating it.

[2021-01-14 11:27] Skn0tt commented on #29
Further digging led me to @babel/plugin-transform-react-jsx, which is updated in the aforementioned PR.

[2021-01-14 14:17] Skn0tt commented on #29
Alright, so as a workaround I was able to make it work like this:

[code]

This shows _very_ weird behaviour, though. The error also doesn't occur when JSX isn't used at all:
[code]

[2021-01-14 15:36] JuanM04 commented on #29
Yes, it works. That's very odd

[2021-01-14 16:00] Skn0tt commented on #29
This is probably the most intricate build chain issue I've ever worked on 😳 Let's hope that the Babel team has an idea ... https://github.com/babel/babel/issues/12631

[2021-01-14 22:15] Skn0tt commented on #29
With the masterful help of @nicolo-ribaudo and @JLHwung, we were able to find a workaround, which works locally for me. @JuanM04 @ChGGse could you try out `0.1.9-fix-19-danger` (`npm install babel-plugin-superjson-next@danger`)? If that also works for you, I'll publish a patch update with that.

[2021-01-14 22:33] JuanM04 commented on #29
Yes, it works!!!

[2021-01-14 22:34] Skn0tt commented on #29
Amazing! :D

[2021-01-14 22:35] #29 closed

[2021-01-14 22:38] Skn0tt commented on #29
Published as v0.1.10.

What a ride! I'm really glad we solved this 🥳

[2021-01-14 22:38] Skn0tt commented on #29
@allcontributors add JuanM04 for bug

[2021-01-14 22:39] Skn0tt commented on #29
@allcontributors add ChGGse for bug

[2021-01-14 22:55] ChGGse commented on #29
I'll test it out in the morning when I wake up!

[2021-01-16 23:29] samuelgoldenbaum opened #33 "ReferenceError: _asyncToGenerator is not defined when using async handlers"
Adding async to handlers causes the following error:

[code]

Example:
[code]

.babelrc:
[code]

[Demo repo](https://github.com/samuelgoldenbaum/superjson-issue)

[2021-01-16 23:56] samuelgoldenbaum commented on #33
Updated to the latest version (0.1.10) of `babel-plugin-superjson-next` and seems fine.

[2021-01-16 23:56] #33 closed

[2021-01-21 20:58] flybayer commented on #28
@Skn0tt reproduction in a blitz example app: https://github.com/blitz-js/blitz/commit/a9c49351ab53875e84f19f9cb42ac6a0cf3f07a9

1. `yarn build`
2. `cd examples/store`
3. `blitz prisma generate && blitz start`
4. Go to `http://localhost:3000/products/ssr`

[2021-01-21 21:13] flybayer commented on #28
The issue is that `withSuperJSONPage()` HOC is only added in the server build, not the client build. So in dev mode for example, the initial render on the server is success, but then the render on the client fails.

![image](https://user-images.githubusercontent.com/8813276/105413038-8884e480-5c03-11eb-9c48-ad89f620c922.png)

[2021-01-21 23:09] flybayer commented on #4
Note: you have to run `yarn build` in the repo root before trying to run the example. It appears that is the issue here maybe

[2021-01-21 23:12] flybayer commented on #19
Hey all, I have seen that somehow Next.js/blitz caches the babel config.

I have found that when testing babel stuff, you need to delete `.blitz` or `.next` to see the results. Or with blitz run `blitz start --no-incremental-build`

[2021-01-22 15:16] #28 closed

[2021-01-27 11:16] RohanM opened #35 "Testing pages with react-testing-library"
I ran into trouble testing pages in my next.js app with react-testing-library once I introduced SuperJSON. Pages would render, but no props would make their way to them.

Page:
[code]

Test:
[code]

A quick look at the `babel-plugin-superjson-next` [source code](https://github.com/blitz-js/babel-plugin-superjson-next/blob/main/src/tools.tsx) shows what's happening: the page is being wrapped in `Wi

[2021-01-27 11:23] Skn0tt commented on #35
That's an interesting solution, thanks for sharing! We could also introduce the following change to `WithSuperJSONPage`, would that be helpful to you?

[code]

[2021-01-27 11:27] Skn0tt commented on #19
@allcontributors add "cyrus-za" for bug

[2021-01-27 11:38] Skn0tt commented on #19
@cyrus-za just added you manually 😅

[2021-01-27 11:38] #19 closed

[2021-01-27 11:38] #4 closed

[2021-01-27 15:40] flybayer commented on #35
Seems like this change should be made regardless of the test issue, right?

[2021-01-27 15:59] Skn0tt commented on #35
It should! I'll put up a PR shortly.

[2021-01-27 22:23] RohanM commented on #35
Absolutely, that would make things much simpler. Thank you!

[2021-01-28 10:02] #35 closed

[2021-01-28 10:05] Skn0tt commented on #35
Published in v0.2.0 ☺️

[2021-02-11 01:43] flybayer opened #41 "Optimize to only add HOC on pages that use getServerSideProps"
In https://github.com/blitz-js/babel-plugin-superjson-next/pull/34 we removed our detection logic because it was failing.

But we should try to find a way to optimize this again.

After that, I got a suspicion that the issue we had could be related to the order of the babel plugin. If this runs before next.js plugins, then it's good. But if next.js runs first, then this fails.

[2021-02-11 07:41] Skn0tt commented on #41
Optimizing would save ~6kb on pages where SuperJSON isn‘t needed. Since Next.js will put that into the main bundle relatively fast anyway, I‘m not really sure wether optimization is worth it. Relying on Babel order is finicky, anyway ...

[2021-02-15 23:41] alexfinnarn opened #43 "Error: Cannot find module 'babel-plugin-superjson-next/tools'"
Locally, I don't see any issues, but after I build my project on Heroku, I get this error:

[code]

I can provide more logs, package.json, etc if needed. Might be related to https://github.com/blitz-js/babel-plugin-superjson-next/pull/39#issuecomment-776962782

[2021-02-16 19:01] Skn0tt commented on #43
That's weird. #39 hasn't been merged yet, but we haven't encountered that issue yet. Does it still persist? Maybe Heroku's `npm install` just failed ...
package.json and package-lock would be very interesting, indeed.

[2021-02-16 19:44] alexfinnarn commented on #43
`npm install` finishes and it's a Next.js project with `npm run build` also...I use Yarn but Heroku might switch to npm...but if you're familiar with Heroku, the "build" phase and generated "slug" are fine, it's in the run-time "npm run start" that fails.

I have this repo public, so easy to share...

https://github.com/CUCentralAdvancement/cms/blob/main/package.json
https://github.com/CUCentralAd

[2021-02-16 22:23] flybayer commented on #43
@alexfinnarn sounds like you need to move `babel-plugin-superjson-next` from a dev dependency to a regular dependency. 🤔

[2021-02-17 19:25] #43 closed

[2021-02-17 19:26] Skn0tt commented on #43
That should help 👍 @alexfinnarn feel free to re-open if it doesn't work :)

[2021-02-17 22:28] alexfinnarn commented on #43
Thanks, changing that did help!...although I had some other minor code things I needed to update as well for my deployment to not break.

I guess I copied the install command wrong and thought all Babel dependencies go in `devDependencies` since that's where I have `@babel/core`. Should I move `@babel/core` out of a dev dependency?

[2021-02-17 22:32] flybayer commented on #43
devDependencies vs dependencies is basically a trash situation for apps. They don't really make a difference in most cases. The difference is mainly effective for libraries.

[2021-02-19 16:46] ThePaulMcBride opened #44 "Doesn't appear to be working with Blitz v0.3.*"
Recently upgraded to Blitz v0.3.0 then v.0.3.1 and have run into issues with superjson. Following a chat with @flybayer I removed superjson from my `.babelrc` file as it should now be handled by Blitz.

My page code is below and is at the following path `app/pages/jobs/[companySlug]/[jobSlug].tsx`

[code]

I would expect the props passed to the page to be an object containing a `company` and  a `j

[2021-02-19 16:52] flybayer commented on #44
If you are using yarn, what's the output of `yarn why babel-plugin-superjson-next` ?

[2021-02-19 16:54] ThePaulMcBride commented on #44
[code]

[2021-02-19 19:56] flybayer commented on #44
This is so odd. Could we get access to your repo by chance?

[2021-02-19 20:09] Skn0tt commented on #44
I've also just run a few sanity checks, and couldn't find the issue. Access to the repo / a reproduction would be great.

[2021-02-19 21:41] ThePaulMcBride commented on #44
Sure. I've temporarily made the repo public. I'm a Typescript noob, so don't judge me too harshly.

https://github.com/ThePaulMcBride/rocketrecruit

[2021-02-20 23:05] Skn0tt commented on #44
You have a `.babelrc` that contains `"plugins": ["superjson-next"]` in your root directory. Since `blitz/babel` also includes this, it is now applied twice. Remove `.babelrc` to fix.

[2021-02-21 17:03] ThePaulMcBride commented on #44
Ahh you're right. I'm a dumbass! Thank you so much for the help!

[2021-02-21 17:03] #44 closed

[2021-02-22 20:43] flybayer commented on #44
@ThePaulMcBride you're not a dumbass. Dev is just hard :)

[2021-02-24 00:21] mmiszy opened #48 "0.2.2: Cannot set property '_superjson' of null"
Version 0.2.2 introduced a bug which breaks static build in Next.js.
After downgrading to 0.2.1 everything is in order.
 
Log:
[code]

.babelrc:
[code]

Relevant dependencies:
[code]

[2021-02-24 07:48] Skn0tt commented on #48
Hi @mmiszy! Thanks for submitting this bug. (@allcontributors add @mmiszy for bug)

It's most likely caused by you returning `props: undefined` in getServerSideProps / getStaticProps, and will also be a build error on Next.js side.
Pre v0.2.2, this error was swallowed by babel-plugin-superjson-next.

#51 changes this so you're shown the "real" Next.js error.

[2021-02-24 08:53] #48 closed

[2021-04-11 22:22] PeterDekkers opened #63 "BigInt: Error: Circular structure in "getInitialProps""
Hello!

It seems that whenever I have a `BigInt` value in my data I get a server error:
[code]

The versions I am using are:
[code]

Here's a minimal reproduction:
[code]

[2021-04-12 08:38] Skn0tt commented on #63
`Circular Structure ...` seems to be a display error in Next.js.
The real error that occurs is `Do not know how to serialize a BigInt`. This is likely a problem with SuperJSON itself. I'll take a look at it.

[2021-04-12 21:26] PeterDekkers commented on #63
Thanks also for filing the bug fix in Next.js. Nice one!

[2021-04-13 08:59] #63 closed

[2021-04-30 08:35] nonoumasy commented on #19
Is there a fix for this? I installed both packages, created the .babelrc per the instructions here but still getting...

Server Error
Error: Error serializing `.data[0].updatedAt` returned from `getServerSideProps` in "/".
Reason: `object` ("[object Object]") cannot be serialized as JSON. Please only return JSON serializable data types.

[2021-04-30 10:37] Skn0tt commented on #19
Could you open a separate issue for this?

[2021-05-01 12:32] #41 closed

[2021-06-08 17:54] ACPK commented on #19
@Skn0tt What is the solution to solve this error (Mac)?

I followed @cyrus-za comment on uninstalling "superjson and manually converted all dates to ISO before sending props down" to fix the issue.

[2021-06-08 17:59] Skn0tt commented on #19
The solution to this issue was published in 0.1.9, if you‘re still seeing it that’s new. Please open another issue with a repro then, these things are hard to debug :)

[2021-06-08 18:01] ACPK commented on #19
@Skn0tt - It seems that breaking issues are expected as it's not version 1 yet.

[2021-06-19 16:28] edgarasben opened #76 "Does this work with Next 11?"
Seems like this stopped working for me when updated to Next 11.0.0.

Did anybody run into a similar issue?

[code]

[2021-06-21 09:16] Skn0tt commented on #76
Hi @edgarasben! I tried updating our example to Next 11 in #78, and it works fine both locally and in CI. Could you provide a minimal reproduction repo? That'd make it a lot easier for me to reproduce.

[2021-06-22 17:19] tadeumaia commented on #76
Same happening to me.

There is not much to it, the page is just this with the appropriate config settings for babel.rc

[code]

[2021-06-22 17:27] edgarasben commented on #76
Exactly what @tadeumaia described. I can try to post a minimal reproduction repo later.

[2021-06-24 12:49] Skn0tt commented on #76
A repro would be great, thank you!

[2021-06-25 12:29] thomaszdxsn commented on #76
I have not work issue, but fixed by change `plugins: ["superjson-next"]` to `plugins: ["babel-plugin-superjson-next"]`

[2021-06-25 12:34] Skn0tt commented on #76
That sounds like a caching issue then. @edgarasben @tadeumaia have you tried deleting caches?

[2021-06-26 09:16] edgarasben commented on #76
I am not an advanced developer, could you specify what do you mean by that in this case?

[2021-06-27 17:51] gleuch commented on #76
I was running into issues as well when upgrading to Next v11 where it would no longer catch `undefined` prop values from `getServerSideProps`. This worked without issue in 10.2.3.

We're running with Express server and defined the working directory when initializing NextJS (`const app = nextJS({ dir: './src' });`).

When we removed `dir` parameter (`src/pages` is supported by default in Next), thi

[2021-07-02 08:08] Skn0tt commented on #76
Sure! Babel plugins such as `babel-plugin-superjson-next` transpile your code. For efficiency, they try to *cache* their work: If a piece of code has been transpiled once, it won't be transpiled again. Sometimes this means stale caches: Something changed so you'd want everything to be re-transpiled again, but it doesn't since it's cached. Deleting caches is the easiest way to work around this.

Fo

[2021-07-02 17:49] PierreAndreis opened #81 "Does not work with modular export"
It seems that this plugin does not pick up `getServerSideProps` that are exported as below.
[code]

Note that it works fine if we export as shown below, although less preferred
[code]

[2021-07-03 13:57] Skn0tt commented on #81
Hi @PierreAndreis! This is caused by how our Babel replacement works, would you be interested in submitting a PR to add support for this?

[2021-07-11 11:16] knaitas commented on #76
Had the same issue and can confirm that deleting `.next` folder a.k.a cleaning the cache helps to solve this :)

[2021-07-19 19:45] LorhanSohaky opened #82 "Error with forwardRef"
[code]

[2021-07-26 07:08] Skn0tt commented on #82
Hi Lorhan! Could you provide a reproduction case? This error alone makes it very hard for me to grasp what's going on.

[2021-07-26 07:09] Skn0tt commented on #76
Closing this, as it seems to be fixed by purging the cache :)

[2021-07-26 07:09] #76 closed

[2021-07-26 19:02] edgarasben commented on #76
@Skn0tt sorry for the late reply. When it did not work I removed the script from my codebase. But most likely you are right. It's the old .next cache that might have caused the problem. I will try using the script in the future and report here again, in case the problems persist.

[2021-08-16 20:12] LorhanSohaky commented on #82
Here an example

https://user-images.githubusercontent.com/16273730/129623822-c82dcb64-6533-4ddd-b0f0-835cd64bb37b.mp4

[example.zip](https://github.com/blitz-js/babel-plugin-superjson-next/files/6995119/example.zip)

[2021-08-16 20:14] LorhanSohaky commented on #82
@Skn0tt , if you remove `babel-plugin-superjson-next` and `superjson` work correctly

[2021-08-17 07:16] Skn0tt commented on #82
Will be fixed in #88. If you need a workaround until then, try renaming your `src/pages/examples` folder to something that doesn't include `pages`.

[2021-08-17 08:45] #82 closed

[2021-08-17 08:47] Skn0tt commented on #82
Published in [v0.3.1](https://github.com/blitz-js/babel-plugin-superjson-next/releases/tag/v0.3.1)

[2021-08-18 10:48] LorhanSohaky commented on #82
@Skn0tt , thanks!!

[2021-09-03 15:53] italodeandra opened #93 "Data is not deserialized on `_app.tsx`"
I did some research and I see that there was a change that made the file `_app.tsx` be skipped. Why is that? I need the deserialized data exactly on `_app.tsx` since I need to add the data to a provider.

Is there a solution for that?

[2021-09-06 13:11] Skn0tt commented on #93
This plugin works by wrapping `getStaticProps` and `getServerSideProps`. These aren‘t supported for `_app.tsx`. You can, however, deserialize the SuperJSON-ified props manually in your `_app.tsx`. Refer to this line for how to make that work:

https://github.com/blitz-js/babel-plugin-superjson-next/blob/87eb281243dceb8f1d7587e247bbe1172bb8a82a/src/tools.tsx#L59

[2021-09-06 13:16] italodeandra commented on #93
Yeah, I did exactly that as a workaround.

Would it make have an util on the lib that does that (that's also going to be used on the line you quoted)? Because I feel that I won't be the only one needing that.

If you don't agree you may close this issue.

[2021-09-06 13:26] Skn0tt commented on #93
Yes, that‘s a good idea! Would you be interested in opening a PR for that?

[2021-09-06 13:27] italodeandra commented on #93
Yes, I'll do it after work!

[2021-09-08 10:08] italodeandra commented on #93
@Skn0tt How costly is the `SuperJSON.deserialize` function? I already created the code but I still didn't commit because I just noticed that I'm deserializing the props twice. Once manually on `_app.tsx` itself (my function) and another wrapped by the plugin.

Then it got me thinking: perhaps it would be better if I didn't use this plugin at all? What's your opinion on that?

[2021-09-08 10:14] Skn0tt commented on #93
`SuperJSON.deserialize` cost is linear to the number of non-JSON-native values and their depth on the object tree.

You should be able to save the second `deserialize` call by deserializing in `_app.tsx` and then passing down the already-deserialized props to `Component`. Makes me wonder if that could be a good abstraction for a v2 of this plugin 🤔

[2021-09-08 10:33] italodeandra commented on #93
What I plan to contribute doesn't break existing API, so maybe just a minor version would be good.

Yeah, that worked. I'll create the PR.

[2021-09-12 10:23] vincaslt commented on #81
I have the same issue when using getServerSideProps as a function declaration, which I think is common usage.

[code]

I changed it to a const arrow function and it started working.

[2021-09-13 07:50] Skn0tt commented on #81
Hi @vincaslt! That's surprising, as we do have a test for exactly this declaration:

https://github.com/blitz-js/babel-plugin-superjson-next/blob/87eb281243dceb8f1d7587e247bbe1172bb8a82a/test/pages/gSSP%20function%20declaration/code.js#L1

Could you open a new issue for this, and give some more context on when it happens? A reproduction case would be creat.

[2021-09-17 12:38] #93 closed

[2021-09-17 19:53] vincaslt opened #96 "Does not work with decorated getServerSideProps"
I'm implementing auth with https://github.com/gladly-team/next-firebase-auth and it requires to decorate both getServerSideProps and the component with their HOFs.

[code]

My payload includes Date and I logged it in the component - it's string.

[2021-09-20 12:50] #96 closed

[2021-09-20 12:52] Skn0tt commented on #96
Hi @vincaslt! Thank you for opening this issue. I published a fix in v0.4.1, let me know if that didn't work.

[2021-09-20 12:53] Skn0tt commented on #81
I have a feeling this could be fixed by #97 (published in v0.4.1), could you verify that?

[2021-09-30 01:07] SheaBelsky opened #100 "Does this library work with deeply nested objects passed from getServerSideProps?"
I'm trying to implement this library in a project that would pass down date objects within a deeply nested object.

For example:

[code]

If I have data in this shape, the plugin does not seem to catch the dates and convert them. Is this working as designed? Are there plans to address this in the future, or is this considered out of scope for this library?

[2021-09-30 01:13] SheaBelsky commented on #100
Looks like this is similar to the issue described in: https://github.com/blitz-js/babel-plugin-superjson-next/issues/76#issuecomment-866179513

I tried:
* Clearing `node_modules`
* Clearing `.next`
* Renaming `superjson-next` to `babel-plugin-superjson-next` in `babel.config.js`

My `babel.config.js`:
[code]

My `tsconfig.json`
[code]

[2021-09-30 09:34] Skn0tt commented on #81
Closing preemptively, feel free to re-open.

[2021-09-30 09:34] #81 closed

[2021-09-30 11:55] SheaBelsky commented on #100
@Skn0tt Working on a reproduction repo now, will post here when it's done!

[2021-09-30 22:30] SheaBelsky commented on #100
@Skn0tt I was able to identify a way to consistently reproduce the error in a minimally viable repo:

https://github.com/SheaBelsky/nextjs-prisma-typegraphql/blob/sheabelsky_superjsonBabelError/pages/user/index.tsx#L6

There seems to be an error when using `getServerSideProps` in a component that uses the `export {default} from` syntax. Took me a while to figure out the culprit, but I can fix the

[2021-10-06 09:24] Skn0tt commented on #100
"Later this week" came earlier than expected. Wanna take a look at the PR @SheaBelsky?

[2022-01-22 08:23] nemanjam commented on #19
Should `superjson` be a dev or prod dependency?

[2022-01-24 08:21] Skn0tt opened #107 "Should `superjson` be a dev or prod dependency?"
Should `superjson` be a dev or prod dependency?

_Originally posted by @nemanjam in https://github.com/blitz-js/babel-plugin-superjson-next/issues/19#issuecomment-1019099240_

[2022-01-24 08:22] Skn0tt commented on #107
I'd put them into prod dependency, since SuperJSON will need to be present in your application bundle in order for things to work. But considering that you're most likely using a bundler anyways, it won't make that much of a difference: https://jsramblings.com/do-dependencies-devdependencies-matter-when-using-webpack/

[2022-01-24 09:47] nemanjam commented on #107
Thanks.

[2022-02-14 14:36] #107 closed

[2022-02-14 14:57] nemanjam commented on #107
Thanks.

[2022-03-28 11:10] alii opened #121 "Shared SSR/SSG hooks are not transformed"
When writing `getStaticProps` outside of a page file, the superjson code is never injected. For example:
[code]

[2022-03-30 18:02] Skn0tt commented on #121
Hi @alii! Would you be interested in contributing a fix for this? You should be able to add a test case for this in here: https://github.com/blitz-js/babel-plugin-superjson-next/tree/main/test

[2022-04-01 10:22] alii commented on #121
Can certainly have a go, but I've never written a babel plugin before. Learning time!

[2022-04-01 10:28] Skn0tt commented on #121
love it! feel free to shoot me a question if you're stuck :)

[2022-05-02 06:47] dante01yoon opened #124 "Since this is a companion to SuperJSON, make sure it's also installed: npm install superjson"
Hi! thank you for building this  plugin!
since from npm 7, peer dependencies will be default, I guess It would be better notice in README.md

[code]

[2022-05-02 14:23] dante01yoon commented on #124
sure thing!

[2022-05-02 14:43] #124 closed

[2022-08-05 13:48] Haberkamp opened #129 "Get layout is not working anymore after adding plugin"
I've added the plugin to my next.js app and fetching dates worked fine but the layouts we're missing completely.

next.js version: 12.2.4
superjson version: 1.9.1
babel-plugin-superjson-next version: 0.4.3

[2022-08-08 09:55] Skn0tt commented on #129
Hi @Haberkamp! Could you share a reproduction repository? That'd make it a lot easier for me to reproduce this.

[2022-08-08 13:59] Haberkamp commented on #129
Yes! [Here you go](https://github.com/Haberkamp/superjson-next-layout). After starting the server visit the `/layout` route. When you comment out the `getServerSideProps` variable of that page you'll be able to see the layout again.

[2022-08-10 09:51] Skn0tt commented on #129
thx for the repro! I was able to reproduce and fix the error, it had to do with the order of the code emitted by this babel plugin.

@all-contributors please add @Haberkamp for bug

[2022-08-10 09:53] #129 closed

[2022-08-10 09:55] Skn0tt commented on #129
published in https://github.com/blitz-js/babel-plugin-superjson-next/releases/tag/v0.4.4 :)

[2022-08-10 10:04] Haberkamp commented on #129
Yea thank you!

[2022-09-19 08:25] apieceofbart commented on #121
For a quick hack you can just manually add superjson like so:
[code]

I'll try to work on a PR to add this

[2022-09-21 13:20] codew0nderer opened #133 "Issue when prefetching queries with React Query & NextJs"
Hello,

I would like to point out an issue when working with React Query and NextJs, that I don't think is the expected behavior, but correct me if I am wrong.

It occurs when prefetching queries using hydration. As mentioned in React Query [docs](https://react-query-v3.tanstack.com/guides/ssr#using-hydration), to prefetch using hydration the component in _app.tsx is wrapped in `<Hydrate>` which t

[2022-09-26 07:58] Skn0tt commented on #133
Hi @codew0nderer! We have a similar issue reported over in the SuperJSON repo: https://github.com/blitz-js/superjson/issues/196
Could you check if they're related?

[2022-09-26 08:00] Skn0tt commented on #133
Wait, forget about that. Have you tried excluding the `dehydratedState` property from `babel-plugin-superjson-next`? See https://github.com/blitz-js/babel-plugin-superjson-next#options

[2022-11-07 09:39] florian-milky opened #134 "Issue when using an export list for `getServerSideProps`"
Hi! I wanna report a small bug kind of similar to https://github.com/blitz-js/babel-plugin-superjson-next/issues/100

This did not work 🔴
[code]

I changed to
[code]
and it worked ✅

[2022-11-07 09:59] Skn0tt commented on #134
Oh interesting! Yeah the babel transpilation logic is finicky 😅 The way I'd go about fixing this is to add a new testcase in https://github.com/blitz-js/babel-plugin-superjson-next/tree/main/test/pages, and then step through https://github.com/blitz-js/babel-plugin-superjson-next/blob/main/src/index.ts with a debugger to fix it.
Would you be interested in contributing a fix for this? I can also do

[2022-11-07 10:31] florian-milky commented on #134
@Skn0tt I'd be interested but I don't think I'll have the time. Sorry!

[2022-11-07 12:59] Skn0tt commented on #134
opened a draft PR. not sure when I'll have some spare time to find a solution, but i'll get to it! in the meantime, i'm happy you found a workaround already.

[2022-11-22 16:07] #134 closed